//
   Created by Tian on 2016/10/23.

doctype
html
    head
        meta(charset="utf-8")
        title 404 Not Found
    body(style="text-align:center;padding-top:100px")
        img(src='/images/404.jpg')